# # Python bytecode & cache
# __pycache__/
# *.py[cod]
# *$py.class

# # Environments
# .venv/
# venv/
# ENV/
# env/

# # Environment variables & secrets
# .env
# .env.*
# !.env.example

# # IDEs & Editors
# .idea/
# .vscode/
# *.swp
# *.swo

# # Testing & Coverage
# .pytest_cache/
# .coverage
# htmlcov/

# # Logs & Database
# *.log
# *.sqlite3
# *.db